.navbar a {
    float: center;
    color: #23d84b;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.p {
    border: 1px solid black;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color: lightblue;
}

.img {
    float: right;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 3000px;
}
